# Usage:
# 1. Copy this file: `cp .env.example ./.env`
# 2. Update .env with your account name, preferred git clone method, etc.

SFI_PATH=~/software-factory-intensive
MODEL_PROVIDER=claude # codex, gemini, etc.
GITHUB_USERNAME=username
GITHUB_CLONE_METHOD=https # ssh, https, or gh
ASCII_ART_REPO_EXISTS=true # set false if you don't have a remote ascii-art repo yet
ALLOW_ASCII_ART_PUSH_FORCE=true # set false if you're not comfortable resetting the ascii-art repo, in which case you need to reset it manually
FACTORY_VERSION_CONTROL=true # set false if you don't want to enable git on the factory
